.apt
{
    height: 110%;
    width: 100%;
    position: absolute;
}

.jumbo
{
    background-color: rgba(25,52,52,.3);
    align-self: center;
    width: 50%;
    height: auto;
    box-align: center;
    position: absolute;
    text-align: center;
    top:40%;
    left: 25%;
}

.navclass
{
    background-color: crimson !important;
}

