/* contact */
.apt
{
    height: 110%;
    width: 100%;
    position: absolute;
}

.jumbo
{
    background-color: rgba(25,52,52,.3);
    align-self: center;
    width: 50%;
    height: auto;
    box-align: center;
    position: absolute;
    text-align: center;
    top:40%;
    left: 25%;
}

/*navbar*/
.navclass
{
    background-color: crimson !important;
}

/*carousel*/
.adjust
{
    position: relative;
    /*min-height: 100%;  
    min-height: 100vh;*/
    height:100%;
    width:100%;
}

.shape
{
    height:100%;
    width:100%;
    border-bottom-style: ridge;
    border-radius: 10% !important ;
}

.aln
{
    display: flex !important;
    justify-content: center;
    padding: 5%;
}

.card
{
    width: 18rem;
}

.text
{
    color: crimson;
    text-align: center;
}

.bgfaculty
{
    background-image: url("bgfaculty.jpg");
}